html {
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffe3ea;
}

.container {
  width: 95vw;
  height: 200vh;
  background: white;
  margin: 40px auto;
}

.flexbox-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 40px 60px 40px;
} 

.box1{
    display: flex;
    flex-direction: row;
}
.box2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 100px;
    font-weight: 900;
}
.box3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.top{
    padding: 10px;
}

.logo{
    height: 70px;
}

.logo-box{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.logo-text1{
    font-size: 25px;
    position: relative;
    bottom: 4px;


}

.logo-text2{
    font-size: 13px;
    position: relative;
    bottom: 8px;
}

.subscribe{
    background: #FF0062;
    border: 0px;
    font-size: 15px;
    color: white;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
}

.in{
    background: black;
    color: white;
    font-family: 'Niconne', cursive;
    border-radius: 3px;
    font-size: 40px;
    padding: 0px 10px 0px 10px; 
}

.logo{
    height: 50px;
}

.center-text1{
    font-size: 90px;
    margin-bottom: 20px;
}

.center-text2{
    font-size: 20px;
    margin-bottom: 35px;
}

.center-button{
    background: #FF0062;
    border: 0px;
    font-size: 20px;
    color: white;
    border-radius: 50px;
    padding: 20px 35px 20px 35px;
}

.center-content-text{
    margin-left: 200px;
    margin-top: 150px;
    z-index: 2;
    position: absolute;
    bottom: 300px;
    left: 50px;
}

.center-image{
    margin-left: 67px;
    position: absolute;
    left: 80px;
}